<footer class="main-footer">
  <div class="container-fluid footer-container">
    <div class="row section-row footer-container-row">
      <div class="col-lg-6 col-md-6 col-sm-12 footer-inwrap copyright" *ngIf="language == 'En'">
        <p>Copyright 2018 Swarna Shree Yantra | All Rights Reserved</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 footer-inwrap copyright" *ngIf="language == 'Hi'">
        <p>कॉपीराइट २०१८ स्वर्ण श्री यंत्र | सर्वाधिकार सुरक्षित</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 footer-inwrap footer-nav">
        <ul class="nav">
          <li class="nav-item facebook" routerLink="/">
            <a href="https://www.facebook.com/SwarnaShreeYantra" target="_blank">
              <!-- <span><i class="fa fa-facebook-square" aria-hidden="true"></i></span> -->
              <span>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="nav-item youtube" routerLink="/faqs">
            <a href="https://www.youtube.com/channel/UCq-94wCCoGj-5k1VlRvnteA" target="_blank">
              <span>
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="nav-item twitter" routerLink="/Content/CREATION OF SWARNA SHREE YANTRA">
            <a href="https://twitter.com/shree_yantra?lang=en" target="_blank">
              <!-- <span><i class="fa fa-twitter-square" aria-hidden="true"></i></span> -->
              <span>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li class="nav-item pinterest" routerLink="/contact">
            <a href="https://www.pinterest.com/pin/355573333063811416" target="_blank">
              <!-- <span><i class="fa fa-pinterest-square" aria-hidden="true"></i></span> -->
              <span>
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
