<div class="container-fluid page-header-container">
  <div class="container">
    <div class="row">
      <div class="col-12 page-header-wrapper">
        <div class="page-header">
          <h2 class="title">{{language=='En'? "SCIENTIFIC EVIDENCE":" वैज्ञानिक सबूत"}}</h2>
          <ul class="breadcrumbs">
            <li class="list" routerLink="/">
              <a>
                <span>{{language=='En'? "HOME":" होम"}}</span>
              </a>
            </li>
            <li class="list">
              <a>
                <span>{{language=='En'? "SCIENTIFIC EVIDENCE":" वैज्ञानिक सबूत"}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container page-container" *ngIf="language=='En'">
  <div class="row page-row">
    <div class="col-lg-12 page-section feature-product-section">
      <div class="row section-row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 p-wrapper" routerLink="/Content/SCIENTIFIC EVIDENCE – RESEARCH BY USA SCIENTIST">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/Untitled-111111111-1.png">
            </div>
            <div class="p-title">
              <h4>Research by USA Scientist </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 p-wrapper" routerLink="/Content/SCIENTIFIC EVIDENCE – SHREE YANTRA AURA PHOTGRAPHY">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/scientist2-300x300.jpg">
            </div>
            <div class="p-title">
              <h4>Shree Yantra Aura Photgraphy</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 p-wrapper" routerLink="/Content/SCIENTIFIC EVIDENCE – EFFECT OF SWARNA SHREE YANTRA ON AURA OF A PERSON">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/1234inbgnnm2.png">
            </div>
            <div class="p-title">
              <h4>Effect of Swarna Shree Yantra on aura of a person</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 p-wrapper" routerLink="/Content/SCIENTIFIC EVIDENCE – EFFECT OF SHREE YANTRA ON CHAKRAS OF A PERSON">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/ravi81192-2.png">
            </div>
            <div class="p-title">
              <h4>Effect of Shree Yantra on Chakras of a Person</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container page-container " *ngIf="language=='Hi'">
  <div class="col-lg-12 page-section feature-product-section">
    <div class="container section-container">
      <div class="section-heading">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-wrapper"
            routerLink="/Content/SCIENTIFIC EVIDENCE – RESEARCH BY USA SCIENTIST">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/Untitled-111111111-1.png">
              </div>
              <div class="p-title">
                <h3>यूएसए वैज्ञानिक द्वारा शोध </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-wrapper"
            routerLink="/Content/SCIENTIFIC EVIDENCE – SHREE YANTRA AURA PHOTGRAPHY">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/scientist2-300x300.jpg">
              </div>
              <div class="p-title">
                <h3>श्री यंत्र आभा फोटोग्राफ़ी</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-wrapper"
            routerLink="/Content/SCIENTIFIC EVIDENCE – EFFECT OF SWARNA SHREE YANTRA ON AURA OF A PERSON">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/1234inbgnnm2.png">
              </div>
              <div class="p-title">
                <h3>किसी व्यक्ति की आभा पर स्वर्ण श्री यंत्र का प्रभाव</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-wrapper"
            routerLink="/Content/SCIENTIFIC EVIDENCE – EFFECT OF SHREE YANTRA ON CHAKRAS OF A PERSON">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid" src="assets/images/ravi81192-2.png">
              </div>
              <div class="p-title">
                <h3> एक व्यक्ति के चक्रों पर श्री यंत्र का प्रभाव</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
