<div class="container-fluid page-header-container">
    <div class="container">
      <div class="row">
        <div class="col-12 page-header-wrapper">
          <div class="page-header">
            <h2 class="title">About Us</h2>
            <ul class="breadcrumbs">
              <li class="list" routerLink="/">
                <a>
                  <span>Home</span>
                </a>
              </li>
              <li class="list">
                <a>
                  <span>About Us</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container page-container cart-page">
  <div class="row page-row">
    <div class="col-12 section">
      <div class="row section-row">
        <div class="col-md-8">
          <div class="section-heading">
            <h3 class="title">FEATURED PRODUCTS</h3>
            <span class="sub-title">&nbsp;</span>
          </div>
          <p class="text-justify pb-2">Installation of Shree Yantra is an excellent solution to rectify Vastu defects. Just by installing Shree Yantra,
            Vastu and Feng-Shui defects of house, shop, office, factory etc. can be rectified without dismantling its physical
            structure. It is a means of positivity and prosperity also. Recommendation– Shree Yantra must be placed where
            business is carried. Shree Yantra takes away negative energy of that place and continuously energizes by divine
            energy and opens new fronts to gain wealth. Shree Yantra attracts wealth like a magnet, continuously grows business
            and profession. As well as, it provides positivity, spreads peace and good health. Several Industrial houses
            have placed Shree Yantra and achieved wealth and success in short period. Shree Yantra is goddess Lakshmi’s belove d
            Yantra. There is permanent presence of goddess Lakshmi where Shree Yantra is placed and keeps on giving various
            favourable results. Recommendation for direction of Installation can be found here.</p>
          <p class="text-justify pb-2">Installation of Shree Yantra is an excellent solution to rectify Vastu defects. Just by installing Shree Yantra,
            Vastu and Feng-Shui defects of house, shop, office, factory etc. can be rectified without dismantling its physical
            structure. It is a means of positivity and prosperity also. Recommendation– Shree Yantra must be placed where
            business is carried. Shree Yantra takes away negative energy of that place and continuously energizes by divine
            energy and opens new fronts to gain wealth. </p>
          <p class="text-justify">Installation of Shree Yantra is an excellent solution to rectify Vastu defects. Just by installing Shree Yantra,
            Vastu and Feng-Shui defects of house, shop, office, factory etc.</p>
        </div>
        <div class="col-md-4">
          <div class="mt-5"><img src="assets/images/p_img_3.jpg" class="img-thumbnail "></div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3">
            <div>
                <img src="assets/images/mg1.jpg" class="img-thumbnail mg ">
              </div>
      </div>
        <div class="col-md-3">
          <div>
            <img src="assets/images/mg2.jpg" class="img-thumbnail  mg ">
          </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="assets/images/mg3.jpg" class="img-thumbnail mg  ">
              </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="assets/images/mg4.jpg" class="img-thumbnail mg  ">
              </div>
        </div>
      </div>
    </div>
  </div>
</div>