<!-- <div class="alert">
    <div class="alert-container success">
        <div class="alert-wrapper">
            <span class="alert-icon">
                <i class="fa fa-check-square" aria-hidden="true"></i>
            </span>
            <span class="alert-message">Place your success message here !</span>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="page">
            <span>404</span>
            <div><img src="assets/images/404-4.png" class="gif"></div>
            <div class="btn1">
                <h2>Page Not Found On Server</h2>
            </div>
        </div>
        <div class="btn2 "><button class="btn " routerLink="/home" type="button">Back Home</button></div>
    </div>
</div>