<div class="container page-container categories-page ">
  <div class="row page-row ">
    <!-- page title -->
    <div class="col-lg-12 col-md-12 col-sm-12 section-container page-title-container">
      <div class="page-title-wrapper">
        <h3 class="title">Location</h3>
        <ul class="controll-buttons">
          <li>
            <button (click)="onButtonclick()" class="btn btn-add-new" pbutton="" type="button">
              <span class="icon">
                <i class="fa" [ngClass]="showForm ? 'fa-minus-circle':'fa-plus-circle'"></i>
              </span>
              <span class="label"> {{showForm ? "Close":"Add"}}</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <!-- primeng p-datatable for product list -->
    <div class="col-lg-12 col-md-12 col-sm-12 section-container table-container" *ngIf="!showForm">
      <div class="table-wrapper">
        <p-dataTable [value]="locationData" class="product-datatable" [rows]="5" [paginator]="true" [pageLinks]="3">
          <div class="locationId">
            <p-column sortable="true" field="id" header="ID"></p-column>
          </div>

          <div class="Address1">
            <p-column sortable="true" field="contact_person" header="Contact Person"></p-column>
          </div>

          <div class="Locale">
            <p-column sortable="true" field="country" header="Country"></p-column>
          </div>
          <div class="Locale">
            <p-column sortable="true" field="city" header="City"></p-column>
          </div>
          <div class="CountryName">
            <p-column sortable="true" field="state" header="State"></p-column>
          </div>
          <div class="action">
            <p-column field="action" header="Action">
              <ng-template let-uData="rowData" pTemplate="body">
                <button type="button" class="btn i-btn" pButton (click)="onEditSelect(uData)">
                  <span class="icon">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                </button>
                <button type="button" class="btn i-btn" pButton (click)="deleteLocation(uData)">
                  <span class="icon">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </span>
                </button>
              </ng-template>
            </p-column>
          </div>

        </p-dataTable>
      </div>
    </div>
    <!-- forms for product add -->
    <div class="col-lg-12 col-md-12 col-sm-12 section-container forms-container" *ngIf="showForm">
      <div class="section-wrapper forms-wrappper">
        <div class="forms-container border-container">
          <form (ngSubmit)="submitLocation(formData)">
            <div class="form-title">
              <h4 class="title">{{isEdit?'Edit':'Add'}} New Location</h4>
            </div>
            <div class="form-content">
              <div class="row">
                <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="fields-container">
                  <div class="label-container">
                    <label class="fields-label">Id</label>
                  </div>
                  <div class="inputbox-container">
                    <input name="firstname" autocomplete="off" required type="text" class="inputbox" placeholder="" />
                  </div>
                </div>
              </div> -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div *ngIf="isEdit" class="inputbox-container">
                    <input name="id" autocomplete="off" [(ngModel)]="formData.id" required type="hidden"
                      class="inputbox" placeholder="title" />
                  </div>
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">Contact Person</label>
                    </div>
                    <div class="inputbox-container">
                      <input name="lastname" autocomplete="off" [(ngModel)]="formData.contact_person" required
                        type="text" class="inputbox" placeholder="" />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">Email</label>
                    </div>
                    <div class="inputbox-container">
                      <input name="email" autocomplete="off" [(ngModel)]="formData.email" required type="email"
                        class="inputbox" placeholder="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">Mobile Number</label>
                    </div>
                    <div class="inputbox-container">
                      <input name="mobile" [(ngModel)]="formData.mobile" autocomplete="off" required type="text"
                        class="inputbox" placeholder="" />
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">Phone Number</label>
                    </div>
                    <div class="inputbox-container">
                      <input name="phoneno" [(ngModel)]="formData.phoneno" autocomplete="off" required type="text"
                        class="inputbox" placeholder="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">Address</label>
                    </div>
                    <div class="inputbox-container">
                      <textarea name="address" [(ngModel)]="formData.address" id="" cols="30" rows="10"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">Country</label>
                    </div>
                    <div class="inputbox-container">
                      <select name="country" #shippingcountry="ngModel" [(ngModel)]="formData.country"
                        (ngModelChange)="getStateByCountry($event)" required class="form-control"
                        id="exampleFormControlSelect1">
                        <option *ngFor="let data of countries" [value]="data.name">{{data.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">State</label>
                    </div>
                    <div class="inputbox-container">
                      <select name="state" #state="ngModel" [(ngModel)]="formData.state"
                        (ngModelChange)="getCityByState($event)" required class="form-control"
                        id="exampleFormControlSelect1">
                        <option *ngFor="let data of (states&&states.length>0?states:[{name:formData.state}])"
                          [value]="data.name">{{data.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">City</label>
                    </div>
                    <div class="inputbox-container">
                      <select name="city" #city="ngModel" [(ngModel)]="formData.city" required class="form-control"
                        id="exampleFormControlSelect3">
                        <option *ngFor="let data of (cities&&cities.length>0?cities:[{name:formData.city}])"
                          [value]="data.name">{{data.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="fields-container">
                    <div class="label-container">
                      <label class="fields-label">Pin</label>
                    </div>
                    <div class="inputbox-container">
                      <input name="pin" autocomplete="off" [(ngModel)]="formData.pin" required type="text"
                        class="inputbox" placeholder="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="buttons-wrapper">
                    <button class="btn" type="submit">submit</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
