<div class="container">
    <div class="row">
        <div class="col-8 status-message">
            <h1>OOPS!</h1>
            <h4 class="scale-down-center">
                <div class="access-denied">Access Denied</div>
            </h4>
            <p class="customer-message">Sorry, your access is refused due to security reasons of our server and also
                our sensitive data.<br />Please
                go back to the previous page to continue browsing.</p>
            <!-- <a class="previous-button" (click)="goBack()">Go to Previous Page</a> -->
            <button class="btn previous-button" (click)="goBack()">
                <span class="icon">
                    <i class="fa fa-arrow-left"></i>
                </span>
                <span class="label">Go to Previous Page</span>
            </button>
        </div>
    </div>
</div>