
<div class="overlay">
  
  <div class="overlay-container card card-1 ">
      <!-- <span>
          <i class="fa fa-window-close-o" aria-hidden="true"></i>
        </span> -->
    <div class="overlay-wrapper ">
      <div class="row">
        <div class="col-lg-6 image-container">
          <div class="overlay-mg">
            <img class="img-fluid" src="assets/images/mg4.jpg">
          </div>
        </div>
        <div class="col-lg-6 desc-container ">
          <div class="overlay-desk">
            <div class="section-heading1">
              <h3 class="overlay-title">Product Description </h3>
              <span class="cnt-sub-title">&nbsp;</span>
            </div>
            
            <div class="overla-text">
              In Stock :
              <div><span> $22.95 (MSPR $68.85) </span></div>
            </div>
            <div class="overla-text">
              Price :
              <div><span> $22.95 (MSPR $68.85) </span></div>
            </div>
            <div class="btn1">
              <button class="btn" type="submit">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card card-1 card-3">
      </div> -->
    </div>
  </div>
</div>