<div class="container-fluid page-header-container">
  <div class="container">
    <div class="row">
      <div class="col-12 page-header-wrapper">
        <div class="page-header">
          <h2 class="title">{{language=='En'? "8 AUTHENTICATED MEASURES":"8 स्वचालित मापदण्ड"}}</h2>
          <ul class="breadcrumbs">
            <li class="list" routerLink="/">
              <a>
                <span>{{language=='En'? "HOME":" होम"}}</span>
              </a>
            </li>
            <li class="list">
              <a>
                <span>{{language=='En'? "SCIENTIFIC EVIDENCE":"8 स्वचालित मापदण्ड"}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container page-container " *ngIf="language=='En'">
  <div class="row page-row">
    <div class="col-lg-12 page-section feature-product-section">
      <div class="row section-heading">

        <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-wrapper" routerLink="/Content/Concurrent and Concentric Triangle">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/9steps.jpg">
            </div>

            <div class="p-title">
              <h4>Concurrent and Concentric Triangle</h4>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-wrapper" routerLink="/Content/Equal and perfect Nine steps of Shree Yantra">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/222222222222-1.png">
            </div>
            <div class="p-title">
              <h4>Equal and perfect Nine steps of Shree Yantra</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-wrapper" routerLink="/Content/Base Of Shree Yantra">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/222222222222-1.png">
            </div>
            <div class="p-title">
              <h4>Base Of Shree Yantra</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-wrapper" routerLink="/Content/INNER HOLLOWNESS">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/2270-copy-300x300.png">
            </div>
            <div class="p-title">
              <h4>Inner Hollowness</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-wrapper" routerLink="/Content/Correct Weight">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/2270-copy-300x300.png">
            </div>
            <div class="p-title">
              <h4>Correct Weight</h4>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-wrapper" routerLink="/Content/Correct Metallurgy">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/prohibited-metals-300x300.jpg">
            </div>
            <div class="p-title">
              <h4>Correct Metallurgy</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-wrapper" routerLink="/Content/Prohibited Metals">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/prohibited-metals2-300x300.jpg">
            </div>
            <div class="p-title">
              <h4>Prohibited Metals</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 p-wrapper" routerLink="/Content/Correct Color">
          <div class="p-conatiner">
            <div class="p-img">
              <img class="img-fluid" src="assets/images/color-300x300.jpg">
            </div>
            <div class="p-title">
              <h4>Correct Color</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <div class="container page-container " *ngIf="language=='Hi'">
  <div class="col-lg-12 page-section feature-product-section">
    <div class="container section-container">
      <div class="section-heading">

        <div class="row">

          <div class="col-lg-4 col-md-3 col-sm-12 col-12 p-wrapper"
            routerLink="/Content/Concurrent and Concentric Triangle">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid" src="assets/images/9steps.jpg">
              </div>

              <div class="p-title">
                <h4>समवर्ती और संकेंद्रित त्रिभुज</h4>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-12 p-wrapper"
            routerLink="/Content/Equal and perfect Nine steps of Shree Yantra">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/222222222222-1.png">
              </div>
              <div class="p-title">
                <h4>श्री यंत्र के समान और परिपूर्ण नौ चरण</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-12 p-wrapper" routerLink="/Content/Base Of Shree Yantra">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/222222222222-1.png">
              </div>
              <div class="p-title">
                <h4>
                  श्री यंत्र का आधार</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-12 p-wrapper" routerLink="/Content/Base Of Shree Yantra">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/2270-copy-300x300.png">
              </div>
              <div class="p-title">
                <h4>
                  भीतर का आभामंडल</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-12 p-wrapper" routerLink="/Content/Correct Weight">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/2270-copy-300x300.png">
              </div>
              <div class="p-title">
                <h4>सही वजन</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-12 p-wrapper" routerLink="/Content/Correct Metallurgy">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/prohibited-metals-300x300.jpg">
              </div>
              <div class="p-title">
                <h4>सही धातुकर्म</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-12 p-wrapper" routerLink="/Content/Prohibited Metals">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/prohibited-metals2-300x300.jpg">
              </div>
              <div class="p-title">
                <h4>निषिद्ध धातु</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12 col-12 p-wrapper" routerLink="/Content/Correct Color">
            <div class="p-conatiner">
              <div class="p-img">
                <img class="img-fluid"
                  src="assets/images/color-300x300.jpg">
              </div>
              <div class="p-title">
                <h4>सही रंग</h4>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div> -->
